<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<listener>
		<listener-class>com.steam.odwek.WebSessionListener</listener-class>
	</listener>
	<context-param>
		<param-name>odserver.host</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>odserver.port</param-name>
		<param-value>1445</param-value>
	</context-param>
	<context-param>
		<param-name>odserver.userId</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>odserver.password</param-name>
		<param-value>passw0rd</param-value>
	</context-param>
	<context-param>
		<param-name>odserver.config.dir</param-name>
		<param-value>E:\\ars\\www</param-value>
	</context-param>
	<context-param>
		<param-name>working.odfolder</param-name>
		<param-value>FCB-PB09-XML-4</param-value>
	</context-param>
	<display-name>ODWEK API sample</display-name>
	<description>

	</description>
</web-app>
